In [92]:
!ls data/raw/

SampleSubmission.csv  Train.csv  images.zip
Test.csv	      images	 images_bboxes.csv

In [57]:
import pandas as pd
import random

In [ ]:
filter_test = pd.read_csv("data/preds/test_filter_preds.csv")
neg_ids = filter_test[filter_test.preds==0].image_id_worm.tolist()

In [5]:
train = pd.read_csv("data/raw/Train.csv")
train

                        image_id_worm worm_type  number_of_worms
0     id_0002ea6f15c7fa6f4c221783.jpg       pbw               51
1     id_0005ef295aafe6acc63587db.jpg       pbw                8
2     id_00084298dd030a500033ff78.jpg       NaN                0
3     id_00093f2c76f6488737325859.jpg       pbw               12
4     id_000b2e6c437c643f25d4a6c3.jpg       pbw               87
...                               ...       ...              ...
9895  id_ffe6e193dd78b7258d864f6b.jpg       abw                5
9896  id_ffe98feb1e592e887b81c3f0.jpg       pbw               95
9897  id_ffef90ecf47baa38434f84fb.jpg       pbw               26
9898  id_fff06bb2e59bfce437ac9fc0.jpg       NaN                0
9899  id_fffdca893564aa86ff5be4cc.jpg       pbw               31

[9900 rows x 3 columns]

In [43]:
train [train["number_of_worms"]!=0][train["worm_type"]=="pbw"]

/tmp/ipykernel_9883/3917375634.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  train [train["number_of_worms"]!=0][train["worm_type"]=="pbw"]

                        image_id_worm worm_type  number_of_worms
0     id_0002ea6f15c7fa6f4c221783.jpg       pbw               51
1     id_0005ef295aafe6acc63587db.jpg       pbw                8
3     id_00093f2c76f6488737325859.jpg       pbw               12
4     id_000b2e6c437c643f25d4a6c3.jpg       pbw               87
10    id_002b8a0e15968eaf2e61f4c7.jpg       pbw                7
...                               ...       ...              ...
9891  id_ffd52048551e62041f1f5668.jpg       pbw                3
9892  id_ffd6fc216afef2eb42f8e985.jpg       pbw               80
9896  id_ffe98feb1e592e887b81c3f0.jpg       pbw               95
9897  id_ffef90ecf47baa38434f84fb.jpg       pbw               26
9899  id_fffdca893564aa86ff5be4cc.jpg       pbw               31

[4947 rows x 3 columns]

In [78]:
pbw =train [train["number_of_worms"]!=0][train["worm_type"]=="pbw"].number_of_worms
abw =train [train["number_of_worms"]!=0][train["worm_type"]=="abw"].number_of_worms

/tmp/ipykernel_9883/297450201.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pbw =train [train["number_of_worms"]!=0][train["worm_type"]=="pbw"].number_of_worms
/tmp/ipykernel_9883/297450201.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  abw =train [train["number_of_worms"]!=0][train["worm_type"]=="abw"].number_of_worms

In [81]:
pbw_value = int(pbw.mean()-pbw.std())
abw_value = int(abw.mean()+abw.std())

In [84]:
pbw_value=10

In [85]:
pbw_value,abw_value

(10, 8)

In [86]:
test_sub =  pd.read_csv("data/raw/SampleSubmission.csv")
test_sub

                        image_id_worm  number_of_worms
0     id_00332970f80fa9a47a39516d_abw                0
1     id_00332970f80fa9a47a39516d_pbw                0
2     id_0035981bc3ae42eb5b57a317_abw                0
3     id_0035981bc3ae42eb5b57a317_pbw                0
4     id_005102f664b820f778291dee_abw                0
...                               ...              ...
5601  id_ffbcb27fa549278f47505515_pbw                0
5602  id_ffc0e41e10b0c964d4a02811_abw                0
5603  id_ffc0e41e10b0c964d4a02811_pbw                0
5604  id_fff8c253115aacded09ad7ed_abw                0
5605  id_fff8c253115aacded09ad7ed_pbw                0

[5606 rows x 2 columns]

In [87]:
def get_worm_count(x):
    temp_arr= x.split("_")
    img_id = "_".join(temp_arr[:-1])+".jpg"
    if img_id not in neg_ids:
        if temp_arr[-1]=="abw":
            return random.randint(1,abw_value)
        return random.randint(1,pbw_value)
    return 0
test_sub['number_of_worms'] = test_sub.image_id_worm.apply(get_worm_count )
test_sub

                        image_id_worm  number_of_worms
0     id_00332970f80fa9a47a39516d_abw                4
1     id_00332970f80fa9a47a39516d_pbw                1
2     id_0035981bc3ae42eb5b57a317_abw                5
3     id_0035981bc3ae42eb5b57a317_pbw                2
4     id_005102f664b820f778291dee_abw                6
...                               ...              ...
5601  id_ffbcb27fa549278f47505515_pbw                0
5602  id_ffc0e41e10b0c964d4a02811_abw                0
5603  id_ffc0e41e10b0c964d4a02811_pbw                0
5604  id_fff8c253115aacded09ad7ed_abw                6
5605  id_fff8c253115aacded09ad7ed_pbw                4

[5606 rows x 2 columns]

In [88]:
test_sub.number_of_worms.mean()

3.473421334284695

In [90]:
test_sub.to_csv("data/submission/handcraft_randmedian_filter_sub.csv",index=False)

In [91]:
"id_ffc0e41e10b0c964d4a02811.jpg" in neg_ids

True